@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    background: hsl(212, 45%, 89%);
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCard{
    align-self: center;
    padding: 1.1em;
    width: 340px;
    border-radius: 20px;
    background: white;    
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.1);

}

.poster{
    background: white;
}

img{
    width: 340px;
    border-radius: 1.2em;
}

h1{
    font-family: outfit, sans-serif;
    font-size: 1.7em;
    text-align: center;
    background-color: white;
    font-weight: 700;
    padding: 0 15px;
    color: hsl(218, 44%, 22%);
}

p{
    font-family: outfit, sans-serif;
    font-size: 18px;
    text-align: center;
    background: white;
    font-weight: 400;
    padding: 0 25px;
    color: hsl(216, 15%, 48%);
}